.menu-block {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.menu-block__menu {
    margin-left: 90px;
}
.menu-block__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    color: #495057;
    position: relative;
    z-index: 5;
}
.menu-block__title::after {
    content: '.';
    color: #DDBEA9;
    position: relative;
    z-index: 5;
}
.menu__list {
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.menu__point,
.social__point {
    position: relative;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-weight: 500;
    color: rgba(73, 80, 87, 0.5);
    transition: all 0.3s;
}
.menu__link {
    position: relative;
}
.menu__link::before,
.log-in__sign-link::before,
.menu-footer__link::before,
.social__link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #DDBEA9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.active {
    color: #495057;
}
.active {
    display: inline-block;
}
.active::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DDBEA9;
    visibility: visible;
    opacity: 1;
}
/* ================================= */
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
}
/* ========== Slider =============== */
.slider {
    padding-bottom: 50px;
}
.slider__container {
    position: relative;
}
.slider__image {
    position: relative;
    padding-bottom: 40.322581%; /* 500/1240 */
}
.slider__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
.slider__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    z-index: 1;
}
.body-slider__up-text {
    color: #E5E5E5;
}
.body-slider__title {
    color: #F8F9FA;
    max-width: 400px;
    text-align: center;
}
/* slider media ==================== */
@media (max-width: 679.98px) {
    .slider {
        padding-bottom: 20px;
    }
    .slider__image {
        min-height: 300px;
    }
    .slider__container {
        position: relative;
    }
    .slider__body {
        row-gap: 5px;
        text-align: justify;
    }
    .body-slider__title {
        font-size: 18px;
        max-width: 100%;
    }
}
/* ============ footer ================ */
.footer {
    background-color: #212529;
    padding: 100px 0;
}
.footer__menu-block {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
    margin-bottom: 40px;
}
.menu-block__title_footer {
    color: #F8F9FA;
}
.menu-footer__list {
    display: flex;
    align-items: center;
    gap: 25px;
    color: rgba(248, 249, 250, 0.5);
}
.menu-footer__point {
    color: rgba(248, 249, 250, 0.5);
    position: relative;
    transition: all 0.3s;
}
.footer__ending {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    color: rgba(248, 249, 250, 0.5);
    line-height: 1.67;
}
/* footer media ======================== */
@media (max-width: 699.98px) {
    .footer {
        padding: 50px 0;
    }
    .footer__menu-block {
        padding-bottom: 20px;
        margin-bottom: 20px;
        gap: 30px;
    }
    .menu-footer__list {
        gap: 10px;
        font-size: 14px;
    }
    .menu-footer__point {
        padding: 5px;
    }
}
@media (max-width: 559.98px) {
    .footer {
        padding: 20px 0;
    }
    .footer__menu-block {
        row-gap: 20px;
    }
    .menu-footer__list {
        gap: 20px;
    }
    .footer__ending {
        row-gap: 20px;
    }
}