@import url(reset.css);
@import url(common.css);


.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}
.main {
    flex: 1 1 auto;
}
.minimalist {
    padding: 50px 0;
}
.grid-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-areas: 
    "project-overview design-proces"
    "chair mirror"
    "sofa-comod sofa-comod"
    "sofa walls";
}
.grid-areas__project-overview {
    grid-area: project-overview;
}
.text-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text-part__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #333333;
}
.text-part__text {
    line-height: 160%;
    color: #9C9C9C;
    flex: 1 0 auto;
}
.text-part__underwrite {
    line-height: 160%;
    color: #9C9C9C;
    display: flex;
    gap: 80px;
}
.grid-areas__design-proces {
    grid-area: design-proces;
}
.grid-areas__design-proces p:first-of-type {
    margin-bottom: 6px;
}
.grid-areas__chair {
    grid-area: chair;
}
.small-image {
    position: relative;
    padding-bottom: 87.842466%; /* 513/584 */
    overflow: hidden;
}
.small-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
.grid-areas__mirror {
    grid-area: mirror;
}
.grid-areas__sofa-comod {
    grid-area: sofa-comod;
}
.big-image {
    position: relative;
    padding-bottom: 42.75%; /* 513/1200 */
}
.big-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
.grid-areas__sofa {
    grid-area: sofa;
}
.grid-areas__walls {
    grid-area: walls;
}

@media (max-width: 990.98px) {
    .grid-areas {
        gap: 20px;
    }
    .text-part {
        gap: 15px;
    }
    .text-part__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #333333;
    }
    .text-part__underwrite {
        gap: 40px;
    }
    .grid-areas__design-proces {
        grid-area: design-proces;
    }
    .grid-areas__design-proces p:first-of-type {
        margin-bottom: 0px;
    }
}
@media (max-width: 819.98px) {
    .grid-areas {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}


.footer {
    padding: 50px 0;
}