@import "_reset.scss";
@import "_common.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap);

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
[class*="__container"] {
    max-width: 1900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    padding: 50px 0 30px;
}
.header {
    // .header__box
    &__box {
        position: relative;
    }
    // .header__title
    &__title {
        position: absolute;
        bottom: 98%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 371px;
        height: 42px;
        text-align: center;
        background-color: #fff;
        font-size: 24px;
        line-height: 2.83;
    }
    // .header__menu
    &__menu {
        padding: 30px 0;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, 235px);
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #C4C4C4;
        @media (max-width:549.98px) {
            grid-template-columns: repeat(auto-fit, 190px); 
            border: none;
            justify-content: center;
            gap: 15px;
        }
    } 
}
.menu-brand {
    // .menu-brand__point
    &__point {
        height: 141px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                background: #F0F2F2;
                transition: all 0.3s;
            }
        }
        @media (max-width:549.98px) {
            height: 90px;
            border: 2px solid #C4C4C4;
            padding: 0 10px;
        }
    }
}

.main {
    flex: 1 1 auto;
}
// ========== OFFERS ===============
.offers {
    padding-bottom: 30px;
    // .offers__grid-box
    &__grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        @media (max-width:1199.98px) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            grid-auto-rows: auto;
            gap: 20px;
        }
    }
    // .offers__block
    &__block {
        position: relative;
    }
}
.little-block {
    grid-column: 1;
    @media (max-width:489.98px) {
        min-height: 300px;
    }
    // .little-block__image
    &__image {
        position: relative;
        padding-bottom: 46.969697%; /* 434/924 */
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width:489.98px) {
                min-height: 300px;
            }
        }
    }
    // .little-block__body
    &__body {
        max-width: 352px;
    }
}
.body-lb {
    position: absolute;
    bottom: 19.124424%; /* 83/434 */
    right: 8.116883%; /* 75/924 */
    z-index: 2;
    @media (max-width:489.98px) {
        right: 0%;
    }
    // .body-lb__title
    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.29;
        text-transform: uppercase;
        margin-bottom: 7px;
        @media (max-width:1479.98px) {
            font-size: 34px;
        }
        @media (max-width:689.98px) {
            font-size: 26px;
        }
    }
    // .body-lb__sub-title
    &__sub-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.68;
        letter-spacing: 0.01em;
        margin-bottom: 51px;
        @media (max-width:689.98px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
        @media (max-width:489.98px) {
            max-width: 60%;
        }
    }
}
.body-lb_left {
    left: 10.17316%; /* 94/924 */
    bottom: 26.497696%; /* 115/434 */
    @media (max-width:489.98px) {
        left: 5%;
    }
}
.big-block {
    grid-column-start: 2;
    grid-row: 1 / span 2;
    @media (max-width:1199.98px) {
        grid-row: auto;
        grid-column-start: 1;
    }
    @media (max-width:489.98px) {
        min-height: 600px;
    }
    // .big-block__image
    &__image {
        position: relative;
        padding-bottom: 97.5%; /* 898/925 */
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width:489.98px) {
                min-height: 600px;
            }
        }
        @media (max-width:1679.98px) {
            padding-bottom: 98%;
        }
        @media (max-width:1479.98px) {
            padding-bottom: 98.5%;
        }
        @media (max-width:1349.98px) {
            padding-bottom: 99%;
        }
    }
    // .big-block__body
    &__body {
        position: absolute;
        left: 9.297297%; /* 86/925 */
        bottom: 11.469933%; /* 103/898 */
        z-index: 2;
        @media (max-width:489.98px) {
            left: 5%;
        }
    }
}
.body-bb {
    // .body-bb__title
    &__title {
        font-weight: 600;
        font-size: 96px;
        line-height: 1.15;
        text-transform: uppercase;
        @media (max-width:1479.98px) {
            font-size: 80px;
        }
        @media (max-width:689.98px) {
            font-size: 40px;
        }
    }
    // .body-bb__sub-title
    &__sub-title {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        line-height: 1.48;
        letter-spacing: 0.01em;
        margin-bottom: 51px;
        @media (max-width:689.98px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
        @media (max-width:489.98px) {
            max-width: 80%;
        }
    }
}
// ========== OFFERS ===============

// ======== SHOP SOME WEAR =========
.shop-some {
    padding-bottom: 25px;

    // .shop-some__columns

    &__columns {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-auto-flow: row;
        grid-auto-rows: auto;
        gap: 30px;
    }

    // .shop-some__left-column

    &__left-column {
        border-right: 1px solid #C4C4C4;
    }

    // .shop-some__right-column

    &__right-column {
    }
}
.shop-some-form {

    // .shop-some-form__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
.form-shop {

    // .form-shop__title

    &__title {
        font-size: 24px;
        line-height: 2.83;
        margin-bottom: 11px;
    }

    // .form-shop__input-box

    &__input-box {
    }

    // .form-shop__best-input

    &__best-input {
    }

    // .form-shop__best-label

    &__best-label {
    }

    // .form-shop__arivals-input

    &__arivals-input {
    }

    // .form-shop__arivals-label

    &__arivals-label {
    }

    // .form-shop__woman-input

    &__woman-input {
    }

    // .form-shop__woman-label

    &__woman-label {
    }

    // .form-shop__summer-input

    &__summer-input {
    }

    // .form-shop__summer-label

    &__summer-label {
    }

    // .form-shop__spring-input

    &__spring-input {
    }

    // .form-shop__spring-label

    &__spring-label {
    }

    // .form-shop__trending-input

    &__trending-input {
    }

    // .form-shop__trending-label

    &__trending-label {
    }
}
.shop-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.shop-label {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #3F3F3F;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    &::before {
        content: '';
        height: 10px;
        width: 10px;
        flex: 0 0 10px;
        background-color: #fff;
        border: 1px solid #828282;
    }
}
.shop-input:checked + .shop-label::before {
   content: '';
   background: url('../img/icons/check-icon.svg') center / contain no-repeat;
   background-color: #000000; 
}
.shop-input:checked + .shop-label {
    color: #000000;
}

.shop-some-items {

    // .shop-some-items__box

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 26px;
        margin-bottom: 15px;
    }

    // .shop-some-items__item

    &__item {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: auto;
    }

    // .shop-some-items__button

    &__button-box {
    }
}
.item-shop {
    line-height: 1.5;
    margin-bottom: 48px;
    // .item-shop__image

    &__image {
        position: relative;
        padding-bottom: 130.813953%; /* 450/344 */
        margin-bottom: 14px;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .item-shop__category-link

    &__category-link {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #BDBDBD;
    }

    // .item-shop__title

    &__title {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 18px;
    }

    // .item-shop__price-row

	&__price-row {
	}

    // .item-shop__price

    &__price {
        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;
        margin-right: 14px;
    }
    &__price_red {
        color: #EB5757;
    }

	// .item-shop__price-old

	&__price-old {
        text-transform: uppercase;
        color: #828282;
        text-decoration: line-through;
	}
}
.shop-some-items__button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-some-items__button {
    font-weight: 500;
    line-height: 1.5; /* 21/14 */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #828282;
    padding: 15px 36px;
    border: 2px solid #C4C4C4;
}





.footer {
    padding: 30px;
}