.row-menu * {
    display: inline-block;
}
.title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
}
.menu__point { 
    font-size: 12px;
    line-height: 2;
}
.menu__point:hover {
    color: #495057;
}
.menu__point:not(:last-child) {
    margin-right: 25px;
}
.body__up-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.67;
    color: #E5E5E5;
}