@import url('reset.css');
@import url('common.css');

.wrapper {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto;
}
.header__menu-box {
    padding: 37px 0;
}
.title_small {
    font-size: 18px;
    line-height: 1.39;
    color: #495057;
    margin-right: 408px;
}
.header__menu-middle {
    margin-right: 290px;
}
.point__header {
    color: #49505780;
}
.point__header:hover {
    border-bottom: 2px solid #DDBEA9;
    margin-bottom: -2px;
}
.menu-social {
    color: #49505780;
}
.header__social li:last-of-type {
    padding-right: 20px;
    border-right: 1px solid #E5E5E5;
    margin-right: 20px;
}
.header__big-part {
    padding: 192px 0;
    background: url('../img/content/carousel_bg_8.webp') center / cover no-repeat;
}
.big-part__body {
    text-align: center;
}
.big-part__up-text {
    margin-bottom: 15px;
}
.big-part__title {
    max-width: 418px;
    color: #E5E5E5;
    margin: 0 auto;
}
.design__menu-box {
    padding: 100px 0 40px;
}
.design-title {
    max-width: 393px;
    margin-right: 260px;
}
.design__menu-right {
    color: #C4C4C4;
}
.cards__box * {
    display: inline-block;
}
.card {
    max-width: 390px;
    margin: 0px 30px 40px 0px;
}
.cards__box > *:nth-child(3), .cards__box > *:nth-child(6), .cards__box > *:nth-child(9) {
    margin-right: 0px;
}
.card__image {
    margin-bottom: 30px;
}
.card-date {
    margin-bottom: 15px;
    color: #495057;
}
.card__text {
    line-height: 1.56;
    color: #212529;
}
.trending {
    padding: 100px 0;
}
.trending__title {
    margin-bottom: 40px;
}
.trending__gallery-box * {
    display: inline-block;
}
.trending__gallery-box > *:nth-child(1) {
    background: url('../img/content/trending_image_1_big.webp') center / cover no-repeat;
}
.trending__gallery-box > *:nth-child(3) {
    background: url('../img/content/trending_image_3.webp') center / cover no-repeat;
}
.trending__gallery-box > *:nth-child(4) {
    background: url('../img/content/trending_image_4.webp') center / cover no-repeat;
}
.gallery__item {
    max-width: 393px;
    padding: 315px 50px 50px 50px;
    border-radius: 3px;
    margin: 0px 25px 30px 0px;
}
.item__big {
    max-width: 817px;
    padding: 315px 424px 50px 50px;
}
.trending__gallery-box > *:nth-child(2) {
    background: url('../img/content/trending_image_2.webp') center / cover no-repeat;
    margin-right: 0;
}
.trending__gallery-box > *:nth-child(5) {
    background: url('../img/content/trending_image_5.webp') center / cover no-repeat;
    margin-right: 0;
}
.item__date {
    color: #E5E5E5;
}
.item__text {
    max-width: 293px;
    line-height: 1.56;
    color: #F8F9FA;
}
.text-for-big {
    max-width: 393px;
}
.footer {
    background-color: #212529;
}
.footer__container {
    padding: 60px 0px 100px 0px;
}
.footer__menu-box {
    padding: 40px 0;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
    margin-bottom: 40px;
}
.row-menu__title_white {
    color: #F8F9FA;
    margin-right: 371px;
}
.footer__menu {
    color: rgba(248, 249, 250, 0.5);
    margin-right: 404px;
}
.menu__point_white:hover {
    color: rgba(248, 249, 250, 0.5);
}
.footer__social {
    color: rgba(248, 249, 250, 0.5);
}
.footer__social:hover {
    color: rgba(248, 249, 250, 0.5);
}
.footer__text-under-menu *{
    display: inline-block;
    font-size: 12px;
    color: rgba(248, 249, 250, 0.5);
    line-height: 1.67;
}
.footer__text-under-menu *:first-child {
    margin-right: 875px;
}