@import url('reset.css');
@import url('common.css');



.wrapper {
    font-family: "Poppins" , Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
}
[class*="__container"] {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding: 37px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
    padding-left: 80px;
}
.header__point a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #DDBEA9;
    left: 0;
    bottom: -1px;
}
.header__social-block {
    display: flex;
    align-items: center;
}
.social__menu {
    margin-right: 20px;
}
.header__search-icon {
    padding-left: 20px;
    position: relative;
}
.header__search-icon::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    left: -12px;
    top: 5px;
    background-color:  #E5E5E5;
    transform: rotate(-90deg);
}
.carousel {
    padding-bottom: 50px;
}
.carousel__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.carousel__image-box img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel__up-title {
    margin-bottom: 15px;
}
.carousel__title {
    max-width: 505px;
    color: #F8F9FA;
}
.design {
    padding: 50px 0;
}
.design__flex-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.design__title {
    max-width: 393px;
    color: #212529;
}
.design__menu {
    color: #C4C4C4;
}
.design__cards-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    padding-top: 45px;
    margin: 0 -15px;
}
.deign__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 33.333%;
    padding: 0 15px;
}
.card-design__image img {
    max-width: 100%;
    object-fit: cover;
}
.card-design__body {
    padding-top: 30px;
}
.card-design__up-title {
    color: #495057;
    margin-bottom: 15px;
}
.card-design__title {
    color: #212529;
}
.trending {
    padding-bottom: 100px;
}
.trending__title {
    font-weight: 700;
    font-size: 25px;
    color: #212529;
}
.trending__grid-box {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    padding-top: 45px;
    gap: 30px;
    grid-auto-flow: row;
}
.trending__item {
    position: relative;
}
.trending__item_big {
    grid-column: span 2;
}
.item__image img {
    max-width: 100%;
}
.item__body {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #F8F9FA;
    max-width: 293px;
}
.item__body_big {
    max-width: 343px;
}
.item__up-title {
    color: #E5E5E5;
    margin-bottom: 15px;
}
.footer {
    padding: 100px 0;
    background-color: #212529;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
    margin-bottom: 40px;
}
.footer__title {
    color: #F8F9FA;
}
.footer__point {
    color: rgba(248, 249, 250, 0.5);
}
.footer__point:hover {
    color: #C4C4C4;
}
.footer__text {
    color: rgba(248, 249, 250, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
}