@import url(reset.css);

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
}
.main {
    flex-grow: 1;
    padding: 100px 0;
}
[class*="__container"] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
.cards-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    margin: 0 -15px;
    row-gap: 45px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.cards__card {
    flex: 1 0 33.333%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0 15px;
    position: relative;
}
.card__image {
    flex: 0 0 auto;
    max-width: 939px;
}
.card__image img {
    max-width: 100%;
}
.card__button {
    position: absolute;
    top: 30px;
    right: 45px;
    padding: 3px 12px;
    font-weight: 700;
    font-size: 8px;
    line-height: 2.5;
    color: #fff;
    background: rgba(33, 37, 41, 0.3);
    border-radius: 3px;
}
.cards__card *:nth-child(3) {
    padding-top: 15px;
}
.cards__card *:nth-child(5) {
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}
.card__date, .card__text, .card__by {
    color: #495057;
    line-height: 1.67;
}
.card__title {
    flex: 1 1 auto;
    line-height: 1.6;
    font-weight: 700;
    font-size: 25px;
}
.card__text {
    flex: 1 1 auto;
}
.cards-box__button {
    padding: 7px 50px;
    color: #F8F9FA;
    font-weight: 500;
    line-height: 1.67;
    background: #212529;
    border-radius: 3px;
}
/* Домашка кінець */

.header {
    background: url('../img/header_bg.webp') center / cover no-repeat;
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
.header__row {
    padding: 36px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    color: #F8F9FA;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
}
.header__menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu-box__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 330px;
    padding: 0 25px;
    border-right: 1px solid rgba(229, 229, 229, 0.5);
    margin-right: 25px;
}
.menu__point {
    position: relative;
    color: rgba(248, 249, 250, 0.5);
    font-weight: 500;
    line-height: 2;
    transition: all 0.2s linear 0s;
}
.menu__point:hover {
    color: #F8F9FA;
    transition: all 0.2s linear 0s;
}
.menu__point:hover svg {
    fill: #F8F9FA;
}
.menu__point:hover::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #DDBEA9;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    animation: underline 0.2s linear 0s forwards;
}
@keyframes underline {
    0% {
        width: 0%;
        visibility: visible;
    }
    100% {
        width: 100%;
        visibility: visible;
    }
}
.menu__point_drop svg {
    margin-bottom: 2px;
    margin-left: 5px;
}
/* Питання: Як відцентрувати іконку разом з меню? position не працює */
/* Питання: Як змінити колір зображення svg? */
.header__search:hover svg path {
    fill: #F8F9FA;
}


.header__card {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.card__date_header {
    color: #E5E5E5;
}
.card__title_header {
    color: #F8F9FA;
    max-width: 605px;
}
.card__text_header {
    color: #E5E5E5;
    max-width: 350px;
}


.footer {
    padding: 100px 0;
    background-color: #212529;
    position: relative;
}
.footer__row {
}
.footer__left-part {
    display: flex;
    flex-direction: column;
}
.left-column__title {
    font-weight: 500;
    font-size: 25px;
    color: #F8F9FA;
    margin-bottom: 60px;
}
.left-column__items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.items-column {
}
.items-column__item {
    display: flex;
    align-items: start;
    column-gap: 30px;
    max-width: 498px;
}
.item-row {
}
.item-row__image {
}
.item-row__image img {
    max-width: 100%;
}
.item-row__body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex: 0 1 287px;
}
.card__date_footer {
    color: #E5E5E5;
}
.card__title_footer {
    font-size: 16px;
    color: #F8F9FA;
}
.card__text_footer {
    color: #E5E5E5;
}
.footer__right-part {
    position: absolute;
    top: 0;
    right: 0;
}
.right-column {
}
.right-column__image {
}
.right-column__image img {
    width: 100%;
    height: 100%;
}
.right-column__body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 393px;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.card__title_right-column {
    color: #F8F9FA;
    font-size: 25px;
}
.card__text_right-column {
    color: #E5E5E5;
}
